# Ignore everything
*

# But not these files...
!.gitignore

# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*
!QuakeDev/id1/maps/testmap.map
!QuakeDev/id1/maps/outpostzeta.map
